.root {
    -fx-font-family: "Segoe UI";
    -fx-base: #ffffff;
    -fx-background-color: #ffffff;
}

/* Topo */
.top-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 0 0 1 0;
}

/* Botões pequenos (navbar) */
.nav-btn {
    -fx-background-color: #f3fbf6;
    -fx-border-color: #7cc89a;
    -fx-border-width: 1;
    -fx-text-fill: #14532d;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-padding: 8 14;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-cursor: hand;
}

.nav-btn:hover {
    -fx-background-color: #e7f7ee;
    -fx-border-color: #4fb979;
}

.nav-btn:pressed {
    -fx-background-color: #d9f2e3;
}

.nav-btn:disabled {
    -fx-opacity: 0.55;
    -fx-cursor: default;
}

/*MENU BAR (mais vivo)*/
.menu-bar {
    -fx-background-color: transparent;
    -fx-padding: 2 0 0 0;
}

.menu-bar .menu {
    -fx-padding: 6 10;
}

.menu-bar .menu .label {
    -fx-text-fill: #14532d;
    -fx-font-weight: 700;
    -fx-opacity: 1;      /*evita ficar apagando*/
}

.menu-bar .menu:hover,
.menu-bar .menu:showing {
    -fx-background-color: #e7f7ee;
    -fx-background-radius: 10;
}

.menu-bar .menu:hover .label,
.menu-bar .menu:showing .label {
    -fx-text-fill: #0f3d22;
    -fx-opacity: 1;
}

/* dropdown */
.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 14, 0.2, 0, 4);
}

.context-menu .menu-item .label {
    -fx-text-fill: #111827;
    -fx-font-weight: 600;
    -fx-opacity: 1;
}

.context-menu .menu-item:focused {
    -fx-background-color: #e7f7ee;
    -fx-background-radius: 10;
}

.context-menu .menu-item:focused .label {
    -fx-text-fill: #14532d;
}


/* Títulos */
.h1 {
    -fx-font-size: 26px;
    -fx-font-weight: 800;
    -fx-text-fill: #111827;
}
.sub {
    -fx-font-size: 14px;
    -fx-text-fill: #6b7280;
}

/* Cards */
.card-grid {
    -fx-padding: 10 0 0 0;
}

.card-btn {
    -fx-background-color: #ffffff;
    -fx-border-color: #bfe6cf;
    -fx-border-width: 1;
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-padding: 18;
    -fx-min-height: 105;
    -fx-cursor: hand;

    /* sombra suave */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.06), 12, 0.25, 0, 2);
}

.card-btn:hover {
    -fx-border-color: #4fb979;
    -fx-background-color: #f5fcf8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.09), 16, 0.25, 0, 4);
}

.card-btn:pressed {
    -fx-background-color: #eef8f1;
}


/* Texto do card (quando o Button estiver com graphic) */
.label.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: 800;
    -fx-text-fill: #0f172a;
}

.label.card-desc {
    -fx-font-size: 12px;
    -fx-text-fill: #64748b;
}


/* Label do usuário */
.user-label {
    -fx-text-fill: #374151;
}
.user-name {
    -fx-font-weight: 700;
    -fx-text-fill: #111827;
}
